{% extends "base.html" %}

{% block title %}
    Read Product
{% endblock title %}

{% block header %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>CRUD Product</h1>
                        <span class="subheading">A Simple CRUD Product</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->

                <form action="{% url 'fetch-data' %}" method="POST">
                    <button type="submit">Ambil Data dari API</button>
                </form>
                
                {% if object_list %}
                    {% for produk in object_list %}
                        <div class="post-preview">
                            
                            <a href="{% url 'ubah-produk' produk.id_produk %}">
                                <h2 class="post-title">{{ produk.nama_produk }}</h2>
                                <h3 class="post-subtitle">{{ produk.kategori_id }}</h3>
                            </a>
                            <p class="post-meta">
                                Harga: {{ produk.harga }}
                            </p>
                            <p class="post-meta">
                                Status: {{ produk.status_id }}
                            </p>
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group me-2" role="group" aria-label="First group">
                                    <a href="{% url 'ubah-produk' produk.id_produk %}" class="btn btn-outline-primary">Ubah</a>
                                </div>
                                <div class="btn-group me-2" role="group" aria-label="Second group">
                                    <form action="{% url 'hapus-produk' produk.id_produk %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Hapus</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                    {% endfor %}
                {% else %}
                    <p>Belum ada data.</p>
                {% endif %}

                {% if object_list %}
                    <!-- Pagination-->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                            {% endif %}
                            {% for i in page_obj.paginator.page_range %}
                                {% if i == page_obj.number %}
                                    <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}</span></li>
                                {% elif i >= page_obj.number|add:'-1' and i <= page_obj.number|add:'1' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
